<div class="content-wrapper" style="background-color: rgb(236, 247, 245);">
    <!-- Content Header (Page header) -->
      <div class="card" style="background-color: white; margin-left: 20px; margin-right: 20px;  " >
     
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            
<<<<<<< HEAD
            <h1 class="m-0" style="color: black ; font-weight:800  ; ">Dashboard </h1>
=======
            <h1 class="m-0" style="color: black ; font-weight:800 ;">Dashboard </h1>
>>>>>>> b2018b207f7b3a8f061ba179d0dbde820d16cf31
            
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="adminDashboard">Home</a></li>
              <li class="breadcrumb-item active">Dashboard </li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>

    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
<<<<<<< HEAD
          <!-- <div class="col-12 col-sm-6 ">
=======
          <div class="col-12 col-sm-6 ">
>>>>>>> b2018b207f7b3a8f061ba179d0dbde820d16cf31
            <div class="info-box" style="background-color: white;">
              <span class="info-box-icon bg-info elevation-1" ><i class="fas fa-cog"></i></span>

              <div class="info-box-content" style="background-color: rgb(244, 248, 252); color: black ;font-weight: 800;">
                <span class="info-box-text">All Medicine</span>
                <span class="info-box-number">
                  10
                  <small>%</small>
                </span>
              </div>
<<<<<<< HEAD
              
            </div>
            
          </div> -->
<!--           
=======
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
>>>>>>> b2018b207f7b3a8f061ba179d0dbde820d16cf31
          <div class="col-12 col-sm-6 ">
            <div class="info-box mb-3" style="background-color: white;">
              <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>

              <div class="info-box-content" style="background-color: rgb(244, 248, 252); color: black ;font-weight: 800;">
                <span class="info-box-text">Production</span>
                <span class="info-box-number">41,410</span>
              </div>
<<<<<<< HEAD
              
            </div>
            
          </div> -->
          

          
          <div class="clearfix hidden-md-up"></div>

          <!-- <div class="col-12 col-sm-6">
=======
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>

          <div class="col-12 col-sm-6">
>>>>>>> b2018b207f7b3a8f061ba179d0dbde820d16cf31
            <div class="info-box mb-3" style="background-color: white;">
              <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>

              <div class="info-box-content" style="background-color: rgb(244, 248, 252); color: black ;font-weight: 800;">
                <span class="info-box-text">Sales</span>
                <span class="info-box-number">760</span>
              </div>
<<<<<<< HEAD
             
            </div>
            
          </div> -->
          
          <!-- <div class="col-12 col-sm-6 ">
=======
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 ">
>>>>>>> b2018b207f7b3a8f061ba179d0dbde820d16cf31
            <div class="info-box mb-3" style="background-color: white;">
              <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

              <div class="info-box-content" style="background-color: rgb(244, 248, 252); color: black ;font-weight: 800;">
                <span class="info-box-text">New Members</span>
                <span class="info-box-number">2,000</span>
              </div>
<<<<<<< HEAD
             
            </div>
            
          </div> -->
          
        </div>

        <div class="row">
        <!-- <div class="col-6">
          <div class="card" style="background-color:white; color: black; height: 10rem;">
            <label style="margin-left: 1.5rem; padding-top: 2%;">Medicine Order Statistics</label>
            <div class="card-stats-items">
              <div class="row" style="margin-left: 1.5rem;">
              <div class="col-2">
                  <div class="card-stats-item-count" style="padding-left: 13%;">831</div>
                  <div class="card-stats-item-label">Pending</div>
              </div>
              <div class="col-2">
                  <div class="card-stats-item-count" style="padding-left: 22%;">0</div>
                  <div class="card-stats-item-label">Process</div>
              </div>
              <div class="col-2" >
                  <div class="card-stats-item-count" style="padding-left: 22%;">0</div>
                  <div class="card-stats-item-label">On Route</div>
              </div>
              <div class="col-2">
                  <div class="card-stats-item-count" style="padding-left: 22%;">0</div>
                  <div class="card-stats-item-label">Cancel</div>
              </div>
              <div class="col-2">
                  <div class="card-stats-item-count" style="padding-left: 22%;">1</div>
                  <div class="card-stats-item-label">Completed</div>
              </div>
             </div>
          </div>
          
            <div class="row">
              <div class="col-2" style="padding-top: 2%; ">
           <i class="fas fa-shopping-bag"  style=" margin-left:1.5rem; font-size: 2rem;width: 3rem; padding: 0.5rem;  padding-right:2%; background-color: rgb(78, 5, 62);  color: white; border-radius: 5px;"></i>
          </div>
          <div class="col-4" style="padding-top: 2%; ">
            <div class="card-stats-item-count" style="font-size:20px;font-weight: 800;">Total Order</div>
            <div class="card-stats-item-label" style="font-size:20px;font-weight: 800; margin-top: -10px;">832</div>
           </div>
        
          </div>
          </div>
        </div>   -->
        <!-- <div class="col-6">
          <div class="card" style="background-color:white; color: black; height: 10rem;">
            <label style="margin-left: 1.5rem; padding-top: 2%;">Prescription Order Statistics</label>
            <div class="card-stats-items">
              <div class="row" style="margin-left: 1.5rem;">
                <div class="col-2">
                    <div class="card-stats-item-count" style="padding-left: 13%;">831</div>
                    <div class="card-stats-item-label">Pending</div>
                </div>
                <div class="col-2">
                    <div class="card-stats-item-count" style="padding-left: 22%;">0</div>
                    <div class="card-stats-item-label">Process</div>
                </div>
                <div class="col-2" >
                    <div class="card-stats-item-count" style="padding-left: 22%;">0</div>
                    <div class="card-stats-item-label">On Route</div>
                </div>
                <div class="col-2">
                    <div class="card-stats-item-count" style="padding-left: 22%;">0</div>
                    <div class="card-stats-item-label">Cancel</div>
                </div>
                <div class="col-2">
                    <div class="card-stats-item-count" style="padding-left: 22%;">1</div>
                    <div class="card-stats-item-label">Completed</div>
                </div>
               </div>
          </div>
          
            <div class="row">
              <div class="col-2" style="padding-top: 2%; ">
           <i class="fas fa-pills"  style=" margin-left:1.5rem; font-size: 2rem;width: 3rem; padding: 0.5rem;  padding-right:2%; background-color: rgb(78, 5, 62);  color: white; border-radius: 5px;"></i>
          </div>
          <div class="col-4" style="padding-top: 2%; ">
            <div class="card-stats-item-count" style="font-size:20px;font-weight: 800;">Total Order</div>
            <div class="card-stats-item-label" style="font-size:20px;font-weight: 800; margin-top: -10px;">832</div>
           </div>
         
          </div>
          </div>
        </div>    -->
      
        </div>
        <div class="row" style="padding-top: 1%; ">
        
          <div class="col-4">
            <div class="card" style="background-color: white; color: black; height: 8rem;">
              <div class="row">
                <div class="col-2">
              <label style="margin-left: 1.5rem;" >User</label>
              
             <i class="fas fa-dollar-sign" style="margin-left:1.5rem; font-size: 2rem;width: 3rem; padding: 0.5rem;  padding-right:2%; background-color: rgb(78, 5, 62);  color: white; border-radius: 5px;"></i>
                <p><%= data2[0].total %></p> 
          </div>
           
              </div>
            </div>
          </div>  
          <div class="col-4">
            <div class="card" style="background-color: white; color: black; height: 8rem;">
              <label style="margin-left: 1.5rem;">Category</label>
             <i class="far fa-money-bill-alt"  style=" margin-left:1.5rem; font-size: 2rem;width: 4rem; padding: 0.5rem;  padding-right:2%; background-color: rgb(78, 5, 62);  color: white; border-radius: 5px;"></i>
            </div>
          </div>  
          <div class="col-4">
            <div class="card" style="background-color: white; color: black; height: 8rem;">
              <label style="margin-left: 1.5rem;">Total Medicine</label>
             <i class="fas fa-star"  style=" margin-left:1.5rem; font-size: 2rem;width: 3rem; padding: 0.5rem;  padding-right:2%; background-color: rgb(78, 5, 62);  color: white; border-radius: 5px;"></i>
            </div>
          </div>  
          </div>

          <div class="row" style="padding-top: 1%; ">
            <div class="col-3"  >
              <div class="card" style="background-color: white; color: black; height: 8rem; padding-top: 3%;">
                <label style="margin-left: 1.5rem;"></label>
               <i class="fas fa-list-ol" style="margin-left:1.5rem; font-size: 2rem;width: 3rem; padding: 0.5rem;  padding-right:2%; background-color: rgb(243, 201, 85);  color: white; border-radius: 5px;"></i>
              </div>
            </div>  
            <div class="col-3">
              <div class="card" style="background-color: white; color: black; height: 8rem; padding-top: 3%;">
                <label style="margin-left: 1.5rem;"></label>
               <i class="fas fa-image"  style=" margin-left:1.5rem; font-size: 2rem;width: 4rem; padding: 0.5rem;  padding-right:2%; background-color: rgb(175, 69, 152);  color: white; border-radius: 5px;"></i>
              </div>
            </div>  
            <div class="col-3">
              <div class="card" style="background-color: white; color: black; height: 8rem; padding-top: 3%;">
                <label style="margin-left: 1.5rem;"></label>
               <i class="fas fa-gift"  style=" margin-left:1.5rem; font-size: 2rem;width: 3rem; padding: 0.5rem;  padding-right:2%; background-color: rgb(68, 214, 39);  color: white; border-radius: 5px;"></i>
              </div>
            </div>
            <div class="col-3">
              <div class="card" style="background-color: white; color: black; height: 8rem; padding-top: 3%;">
                <label style="margin-left: 1.5rem;"></label>
               <i class="fas fa-tv"  style=" margin-left:1.5rem; font-size: 2rem;width: 4rem; padding: 0.5rem;  padding-right:2%; background-color: rgb(228, 66, 55);  color: white; border-radius: 5px;"></i>
              </div>
            </div>   
            </div>

            <div class="row" style="padding-top: 1%; ">
              <div class="col-3"  >
                <div class="card" style="background-color: white; color: black; height: 8rem; padding-top: 3%;">
                  <label style="margin-left: 1.5rem;"></label>
                 <i class="fas fa-tablets" style="margin-left:1.5rem; font-size: 2rem;width: 4rem; padding: 0.5rem;  padding-right:2%; background-color: rgb(243, 201, 85);  color: white; border-radius: 5px;"></i>
                </div>
              </div>  
              <div class="col-3">
                <div class="card" style="background-color: white; color: black; height: 8rem; padding-top: 3%;">
                  <label style="margin-left: 1.5rem;"></label>
                 <i class="fas fa-biking"  style=" margin-left:1.5rem; font-size: 2rem;width: 4rem; padding: 0.5rem;  padding-right:2%; background-color: rgb(175, 69, 152);  color: white; border-radius: 5px;"></i>
                </div>
              </div>  
              <div class="col-3">
                <div class="card" style="background-color: white; color: black; height: 8rem; padding-top: 3%;">
                  <label style="margin-left: 1.5rem;"></label>
                 <i class="fas fa-users"  style=" margin-left:1.5rem; font-size: 2rem;width: 4rem; padding: 0.5rem;  padding-right:2%; background-color: rgb(68, 214, 39);  color: white; border-radius: 5px;"></i>
                </div>
              </div>
              <div class="col-3">
                <div class="card" style="background-color: white; color: black; height: 8rem; padding-top: 3%;">
                  <label style="margin-left: 1.5rem;"></label>
                 <i class="far fa-comment-dots"  style=" margin-left:1.5rem; font-size: 2rem;width: 3rem; padding: 0.5rem;  padding-right:2%; background-color: rgb(228, 66, 55);  color: white; border-radius: 5px;"></i>
                </div>
              </div>   
              </div>
=======
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>
        
>>>>>>> b2018b207f7b3a8f061ba179d0dbde820d16cf31
        <!-- /.row -->

    
    </section>
    <!-- /.content -->
  </div>