
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="" class="brand-link">
      <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar" style="background-color: rgb(56, 53, 53);">
 
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      
          <li class="nav-item menu-open">
          
            <ul class="nav nav-treeview">
              
            </ul>
          </li>
         
         
          <li class="nav-item">
            <a href="adminDashboard" class="nav-link">
              <i class="nav-icon fab fa-firefox "></i>
              <p>
             Dashboard
              
              </p>
            </a>
           
          </li>

         

        





          
        

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="fas fa-list-ul"></i>
              <p>Category</p>
              <i class="right fas fa-angle-left"></i>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="Category_AddCategory" class="nav-link">
                  <i class="far fa-dot-circle"></i>
                  <p>Add Category</p> 
                  </a>
                  </li>
                  <li class="nav-item">
                    <a href="Category_ListCategory" class="nav-link">
                        <i class="far fa-dot-circle"></i>
                      <p>List Category</p> 
                      </a>
                      </li>
            </ul>
          </li>
          
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="fas fa-gifts"></i>
              <p>Generic</p>
              <i class="right fas fa-angle-left"></i>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="Generic_AddGeneric" class="nav-link">
                  <i class="far fa-dot-circle"></i>
                  <p>Add Generic</p> 
                  </a>
                  </li>
                  <li class="nav-item">
                    <a href="Generic_ListGeneric" class="nav-link">
                      <i class="far fa-dot-circle"></i>
                      <p>List Generic</p> 
                      </a>
                      </li>
            </ul>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="fas fa-syringe"></i>
              <p>Medicine</p>
              <i class="right fas fa-angle-left"></i>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="Medicine_AddMedicine" class="nav-link">
                  <i class="fas fa-tablets"></i>
                  <p>Add Medicine</p> 
                  </a>
                  </li>
                  <li class="nav-item">
                    <a href="Medicine_ListMedicine" class="nav-link">
                        <i class="fas fa-tablets"></i>
                      <p>List Medicine</p> 
                      </a>
                      </li>
                      <li class="nav-item">
                        <a href="Attribute_AddAttribute" class="nav-link">
                            <i class="fas fa-tablets"></i>
                          <p>Add Medicine Attributes</p> 
                          </a>
                          </li>
                          <li class="nav-item">
                            <a href="Attribute_ListAttribute" class="nav-link">
                                <i class="fas fa-tablets"></i>
                              <p>List Medicine Attributes</p> 
                              </a>
                              </li>
            </ul>
          </li>

        

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="fas fa-building"></i>
              <p>Company</p>
              <i class="right fas fa-angle-left"></i>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="Company_AddCompany" class="nav-link">
                  <i class="far fa-dot-circle"></i>
                  <p>Add Company</p> 
                  </a>
                  </li>
                  <li class="nav-item">
                    <a href="Company_ListCompany" class="nav-link">
                      <i class="far fa-dot-circle"></i>
                      <p>List Company</p> 
                      </a>
                      </li>
            </ul>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="fas fa-image"></i>
              <p>Banner</p>
              <i class="right fas fa-angle-left"></i>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="Banner_AddBanner" class="nav-link">
                  <i class="far fa-dot-circle"></i>
                  <p>Add Banner</p> 
                  </a>
                  </li>
                  <li class="nav-item">
                    <a href="Banner_ListBanner" class="nav-link">
                      <i class="far fa-dot-circle"></i>
                      <p>List Banner</p> 
                      </a>
                      </li>
            </ul>
          </li>
          <!--  -->
          


          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="fas fa-motorcycle"></i>
              <p>Delivery Boy</p>
              <i class="right fas fa-angle-left"></i>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="DeliveryBoy_AddDeliveryBoy" class="nav-link">
                  <i class="far fa-dot-circle"></i>
                  <p>Add Delivery Boy</p> 
                  </a>
                  </li>
                  <li class="nav-item">
                    <a href="DeliveryBoy_ListDeliveryBoy" class="nav-link">
                      <i class="far fa-dot-circle"></i>
                      <p>List Delivery Boy</p> 
                      </a>
                      </li>
            </ul>
          </li>
          <!--  -->

          <li class="nav-item">
            <a href="User_Customer" class="nav-link">
              <i class="fas fa-users  "></i>
              <p>User/Customer</p>
              <i class="right fas fa-angle-left"></i>
            </a>
            
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="fab fa-first-order-alt"></i>
              <p>Order</p>
              <i class="right fas fa-angle-left"></i>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="PendingOrder" class="nav-link">
                  <i class="fas fa-shopping-cart"></i>
                  <p>Pending Order</p> 
                  </a>
                  </li>
                  <li class="nav-item">
                    <a href="CompleteOrder" class="nav-link">
                      <i class="fas fa-check"></i>
                      <p>Complete Order</p> 
                      </a>
                      </li>
                      <li class="nav-item">
                        <a href="CancelledOrder" class="nav-link">
                          <i class="fas fa-times"></i>
                          <p>Cancelled Order</p> 
                          </a>
                          </li>

                        

            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="fas fa-edit"></i>
              <p>Logout</p>
              <i class="right fas fa-angle-left"></i>
            </a>
          
          </li> 

        

        

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
