<%-include('demoHeader'); -%>



<%-include('demoSidebar'); -%>



<div class="content-wrapper">
    <div class="row">
        <div class="col-12">
    <div class="card" style="font-size: 2rem; font-weight: 800;  margin-left: 2rem; margin-right: 2rem; height: 5rem; margin-top: 3rem;">
        <div class="div" style="margin-left: 15px;   padding: 2%;">
       Company List
       <button  class="btn"  onclick="location.href='Company_AddCompany'" style="margin-top: 10px; background-color: rgb(55, 26, 82); color: white; float: right;"><i class="fas fa-plus-circle"></i> Add Company</button>

        </div>
    </div>


        </div>


      
    </div>

    <!--  -->
    <div class="card-body" style="margin-top:30px; background-color: rgb(255, 255, 255); margin-left: 2rem; margin-right: 2rem;">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>#</th> 
              <th>Company Name </th>
              <th>Company Image</th>
              <th>Status</th>
              <th>Action</th>
            
          
            </tr>
            </thead>
            <tbody>
         
         
            <tr>
              <td>1</td>
              <td>Medicine</td>
              <td>Img</td>
              <td>       <button  class="btn " style=" width: 8rem; background-color: rgb(107, 231, 118); border-radius: 5rem;"> Publish</button></td>
              <td>
                  
                <button mat-button  onclick="location.herf='Company_EditCompany'" style="background-color: rgba(22, 62, 236, 0.897); height: 2rem; border-radius: 5px; color: white;">Edit</button>&nbsp;
                <button mat-button style="background-color: rgb(233, 95, 95);  height: 2rem;border-radius: 5px;color: white; ">Delete</button>   
              </td>
              
          
            </tr>
         
            <tr>
              <td>2 </td>
              <td>Medicine</td>
              <td>Img</td>
              <td>       <button  class="btn " style=" width: 8rem; background-color: rgb(107, 231, 118); border-radius: 5rem;"> Publish</button></td>
              <td>
                  
                <button mat-button  onclick="location.herf='Company_EditCompany'" style="background-color: rgba(22, 62, 236, 0.897); height: 2rem; border-radius: 5px; color: white;">Edit</button>&nbsp;
                <button mat-button style="background-color: rgb(233, 95, 95);  height: 2rem;border-radius: 5px; color: white;">Delete</button>  
              </td>
          
            </tr>
            <tr>
              <td>3</td>
              <td>Medicine</td>
              <td>Img</td>
              <td>       <button  class="btn " style=" width: 8rem; background-color: rgb(107, 231, 118); border-radius: 5rem;"> Publish</button></td>
              <td>
                  
                <button mat-button onclick="location.herf='Company_EditCompany'"  style="background-color: rgba(22, 62, 236, 0.897); height: 2rem; border-radius: 5px; color: white;">Edit</button>&nbsp;
                <button mat-button style="background-color: rgb(233, 95, 95);  height: 2rem;border-radius: 5px;color: white; ">Delete</button>   
              </td>
          
            </tr>
           
          
            </tbody>
            <tfoot>
           
            </tfoot>
          </table>
          
      </div> 

    <!--  -->
    

  
</div>
<%-include('demoFooter');-%>

<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": true, "autoWidth": false,
            // "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            // "buttons": ["excel","pdf","print"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>
</body>
</html>




<!--  -->