
    
            
    
    
    
    
    
              
            
    
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="fas fa-list-ul"></i>
                  <p>Category</p>
                  <i class="right fas fa-angle-left"></i>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="Category" class="nav-link">
                      <i class="far fa-dot-circle"></i>
                      <p>Add Category</p> 
                      </a>
                      </li>
                      <li class="nav-item">
                        <a href="CategoryList" class="nav-link">
                            <i class="far fa-dot-circle"></i>
                          <p>List Category</p> 
                          </a>
                          </li>
                </ul>
              </li>
              
             
    
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="fas fa-syringe"></i>
                  <p>Medicine</p>
                  <i class="right fas fa-angle-left"></i>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="Medicine_AddMedicine" class="nav-link">
                      <i class="fas fa-tablets"></i>
                      <p>Add Medicine</p> 
                      </a>
                      </li>
                      <li class="nav-item">
                        <a href="Medicine_ListMedicine" class="nav-link">
                            <i class="fas fa-tablets"></i>
                          <p>List Medicine</p> 
                          </a>
                          </li>
                        
                              
                </ul>
              </li>
    
            
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="fas fa-link"></i>
                  <p>Attribute</p>
                  <i class="right fas fa-angle-left"></i>
                </a>
                <ul class="nav nav-treeview">
                 
               
                          <li class="nav-item">
                            <a href="Attribute_AddAttribute" class="nav-link">
                                <i class="fas fa-tablets"></i>
                              <p>Add Medicine Attributes</p> 
                              </a>
                              </li>
                              <li class="nav-item">
                                <a href="Attribute_ListAttribute" class="nav-link">
                                    <i class="fas fa-tablets"></i>
                                  <p>List Medicine Attributes</p> 
                                  </a>
                                  </li>
                </ul>
              </li>
    
              
    
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="fas fa-image"></i>
                  <p>Banner</p>
                  <i class="right fas fa-angle-left"></i>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="Banner_AddBanner" class="nav-link">
                      <i class="far fa-dot-circle"></i>
                      <p>Add Banner</p> 
                      </a>
                      </li>
                      <li class="nav-item">
                        <a href="/bannerList" class="nav-link">
                          <i class="far fa-dot-circle"></i>
                          <p>List Banner</p> 
                          </a>
                          </li>
                          
                </ul>
              </li>
              <!--  -->
              
    
    
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="fas fa-motorcycle"></i>
                  <p>Delivery Boy</p>
                  <i class="right fas fa-angle-left"></i>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="DeliveryBoy_AddDeliveryBoy" class="nav-link">
                      <i class="far fa-dot-circle"></i>
                      <p>Add Delivery Boy</p> 
                      </a>
                      </li>
                      <li class="nav-item">
                        <a href="/deliverylist" class="nav-link">
                          <i class="far fa-dot-circle"></i>
                          <p>List Delivery Boy</p> 
                          </a>
                          </li>
                </ul>
              </li>
              <!--  -->
    
              
    
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="fab fa-first-order-alt"></i>
                  <p>Order</p>
                  <i class="right fas fa-angle-left"></i>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="PendingOrder" class="nav-link">
                      <i class="fas fa-shopping-cart"></i>
                      <p>Pending Order</p> 
                      </a>
                      </li>
                      <li class="nav-item">
                        <a href="CompleteOrder" class="nav-link">
                          <i class="fas fa-check"></i>
                          <p>Complete Order</p> 
                          </a>
                          </li>
                          <li class="nav-item">
                            <a href="CancelledOrder" class="nav-link">
                              <i class="fas fa-times"></i>
                              <p>Cancelled Order</p> 
                              </a>
                              </li>
    
                            
    
                </ul>
              </li>

          
                <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="fas fa-portrait"></i>
                  <p>Vendor</p>
                  <i class="right fas fa-angle-left"></i>
                </a>
                <ul class="nav nav-treeview">
                   <li class="nav-item">
                <a href="/register" class="nav-link">
                  <i class="fas fa-user"></i>
                  <p>Vendor Registration</p>
             
                </a>
              
              </li> 
    
              <li class="nav-item">
                <a href="/registerlist" class="nav-link">
                  <i class="far fa-list-alt"></i>
                  <p>Vendor List</p>
               
                </a>
              
              </li> 
    
                            
    
                </ul>
              </li>
              
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="fas fa-user-plus"></i>
                  <p>Customer/User</p>
                  <i class="right fas fa-angle-left"></i>
            
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/userregister" class="nav-link">
                      <i class="fas fa-user-tie"></i>
                      <p>User Registration</p>
                   
                    </a>
                  
                  </li>
    
                  <li class="nav-item">
                    <a href="userlist" class="nav-link">
                      <i class="far fa-list-alt"></i>
                      <p>User/Customer</p>
                     
                    </a>
                    
                  </li>
    
                            
    
                </ul>
              </li>
    
           
              
              
              <li class="nav-item">
                <a href="/logout" class="nav-link">
                  <i class="fas fa-sign-out-alt"></i>
                  <p>Logout</p>
            
                </a>
              
              </li> 
            </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <!-- <div class="content-wrapper iframe-mode" data-widget="iframe" data-loading-screen="750">
    
    
  </div> -->