
    
            
    
    
    
    
    
              
            
    
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="fas fa-list-ul"></i>
                  <p>Category</p>
                  <i class="right fas fa-angle-left"></i>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="Category" class="nav-link">
                      <i class="far fa-dot-circle"></i>
                      <p>Add Category</p> 
                      </a>
                      </li>
                      <li class="nav-item">
                        <a href="CategoryList" class="nav-link">
                            <i class="far fa-dot-circle"></i>
                          <p>List Category</p> 
                          </a>
                          </li>
                </ul>
              </li>
              
              <!-- <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="fas fa-gifts"></i>
                  <p>Generic</p>
                  <i class="right fas fa-angle-left"></i>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="Generic_AddGeneric" class="nav-link">
                      <i class="far fa-dot-circle"></i>
                      <p>Add Generic</p> 
                      </a>
                      </li>
                      <li class="nav-item">
                        <a href="Generic_ListGeneric" class="nav-link">
                          <i class="far fa-dot-circle"></i>
                          <p>List Generic</p> 
                          </a>
                          </li>
                </ul>
              </li> -->
    
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="fas fa-syringe"></i>
                  <p>Medicine</p>
                  <i class="right fas fa-angle-left"></i>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="Medicine_AddMedicine" class="nav-link">
                      <i class="fas fa-tablets"></i>
                      <p>Add Medicine</p> 
                      </a>
                      </li>
                      <li class="nav-item">
                        <a href="Medicine_ListMedicine" class="nav-link">
                            <i class="fas fa-tablets"></i>
                          <p>List Medicine</p> 
                          </a>
                          </li>
                        
                              
                </ul>
              </li>
    
            
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="fas fa-link"></i>
                  <p>Attribute</p>
                  <i class="right fas fa-angle-left"></i>
                </a>
                <ul class="nav nav-treeview">
                 
               
                          <li class="nav-item">
                            <a href="Attribute_AddAttribute" class="nav-link">
                                <i class="fas fa-tablets"></i>
                              <p>Add Medicine Attributes</p> 
                              </a>
                              </li>
                              <li class="nav-item">
                                <a href="Attribute_ListAttribute" class="nav-link">
                                    <i class="fas fa-tablets"></i>
                                  <p>List Medicine Attributes</p> 
                                  </a>
                                  </li>
                </ul>
              </li>
    
              
    
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="fas fa-image"></i>
                  <p>Banner</p>
                  <i class="right fas fa-angle-left"></i>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="Banner_AddBanner" class="nav-link">
                      <i class="far fa-dot-circle"></i>
                      <p>Add Banner</p> 
                      </a>
                      </li>
                      <li class="nav-item">
                        <a href="Banner_ListBanner" class="nav-link">
                          <i class="far fa-dot-circle"></i>
                          <p>List Banner</p> 
                          </a>
                          </li>
                </ul>
              </li>
              <!--  -->
              
    
    
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="fas fa-motorcycle"></i>
                  <p>Delivery Boy</p>
                  <i class="right fas fa-angle-left"></i>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="DeliveryBoy_AddDeliveryBoy" class="nav-link">
                      <i class="far fa-dot-circle"></i>
                      <p>Add Delivery Boy</p> 
                      </a>
                      </li>
                      <li class="nav-item">
                        <a href="DeliveryBoy_ListDeliveryBoy" class="nav-link">
                          <i class="far fa-dot-circle"></i>
                          <p>List Delivery Boy</p> 
                          </a>
                          </li>
                </ul>
              </li>
              <!--  -->
    
              <li class="nav-item">
                <a href="User_Customer" class="nav-link">
                  <i class="fas fa-users  "></i>
                  <p>User/Customer</p>
                  <i class="right fas fa-angle-left"></i>
                </a>
                
              </li>
    
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="fab fa-first-order-alt"></i>
                  <p>Order</p>
                  <i class="right fas fa-angle-left"></i>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="PendingOrder" class="nav-link">
                      <i class="fas fa-shopping-cart"></i>
                      <p>Pending Order</p> 
                      </a>
                      </li>
                      <li class="nav-item">
                        <a href="CompleteOrder" class="nav-link">
                          <i class="fas fa-check"></i>
                          <p>Complete Order</p> 
                          </a>
                          </li>
                          <li class="nav-item">
                            <a href="CancelledOrder" class="nav-link">
                              <i class="fas fa-times"></i>
                              <p>Cancelled Order</p> 
                              </a>
                              </li>
    
                            
    
                </ul>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="fas fa-edit"></i>
                  <p>Logout</p>
                  <i class="right fas fa-angle-left"></i>
                </a>
              
              </li> 
    
            
    
            
    
            </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <!-- <div class="content-wrapper iframe-mode" data-widget="iframe" data-loading-screen="750">
    
    
  </div> -->