<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
<style>
body {
    background-color: #000
}

.padding {
    padding: 2rem !important
}

.card {
    margin-bottom: 30px;
    border: none;
    -webkit-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    -moz-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22)
}

.card-header {
    background-color: #fff;
    border-bottom: 1px solid #e6e6f2
}

h3 {
    font-size: 20px
}

h5 {
    font-size: 15px;
    line-height: 26px;
    color: #3d405c;
    margin: 0px 0px 15px 0px;
    font-family: 'Circular Std Medium'
}

.text-dark {
    color: #3d405c !important
}

    </style>
<div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 padding">
    <div class="card">
        <h2>Order Preview</h2>
        <div class="col-sm-12">
        <button class="btn btn-primary" style="float: right;">Print Order</button>
        </div>
            <div class="card-header">
                    <div class="form-control">
                        <label >Order Id:265</label>    <br/>
                        <label >Customer Name:-***********</label>   <br/> 
                        <label >Customer Mobile:-***********</label>
                        <br/>
                        <br/> 
                        <label >Order Date:-06-01-2022</label>
                        </div>
            </div>   
            <div class="row">    
                <div class="col-12">
            <div class="card-body" style="margin-top:30px; background-color: rgb(255, 255, 255); margin-left: 2rem; margin-right: 2rem;">
                <table class="table table-bordered table-striped" >
                    <thead>
                    <tr>
                      <th>Sr No</th> 
                      <th>Product Name </th>
                      <th>Product Image</th>
                      <th>Discount</th>
                      <th>Product Price</th>
                      <th>Product Qty</th>
                      <th>Product Total</th>
                    
                  
                    </tr>
                    </thead>
                    <tbody>
                 
                 
                    <tr>
                      <td>1</td>
                      <td>Medicine</td>
                      <td>
                       
                        
                         </td>
                      <td>0%</td>
                      <td>350$</td>
                      <td>2</td>
                      <td>700$</td>
                  
                    </tr>
                 
                    <tr>
                      <td>2 </td>
                      <td>Medicine</td>
                      <td><i class="fas fa-image"></i></td>
                      <td>0%</td>
                      <td>350$</td>
                      <td>2</td>
                      <td>700$</td>
                  
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>Medicine</td>
                      <td><i class="fas fa-image"></i></td>
                      <td>0%</td>
                      <td>350$</td>
                      <td>2</td>
                      <td>700$</td>
                  
                    </tr>
                   
                  
                    </tbody>
                    <tfoot>
                   
                    </tfoot>
                  </table>
                  
              </div> 
            </div>
            </div>
       
                <div class="card-footer">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                         Payment Method
                          <span class="badge badge-primary badge-pill">Cash On Delivery</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Sub Total Price
                          <span class="badge badge-secondary badge-pill">1025$</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Delivery Charge
                          <span class="badge badge-danger badge-pill">100$</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Net Amount
                          <span class="badge badge-secondary badge-pill">1125$</span>
                        </li><li class="list-group-item d-flex justify-content-between align-items-center">
                            Order Status
                          <span class="badge badge-success badge-pill">Pending</span>
                        </li>
                      </ul>
                    </div>
    </div>
   
</div>